* {
  margin: 0;
  padding: 0;
}

.div {
  font-size: 15px;
  color: #999999;
  width: 60%;
  border: 1px solid;
  margin: 0 auto;
  padding: 20px;
}

.div .add {
  display: none;
}

.div .change {
  display: none;
}

.div .ipt {
  height: 25px;
  border: 1px solid #b3b3b3;
  padding-left: 15px;
  border-radius: 5px;
}

.div .btn {
  background-color: #46d4f8;
  border: none;
  border-radius: 5px;
  color: white;
  outline-style: none;
  cursor: pointer;
  height: 25px;
  padding: 0 10px;
}

.div .kq {
  display: none;
}

.div .gb {
  display: none;
}

.div table {
  margin: 20px 0;
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}

.div table .tron {
  background: #ee1782;
}

.div table tr {
  font-weight: bold;
  color: black;
}

.div table tr td {
  width: 220px;
  padding-left: 20px;
  border: 1px solid;
}
