* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

@keyframes player {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#music {
  margin-top: 50px;
}

.music {
  width: 1000px;
  border: 1px solid #e3e3e3;
  background-color: pink;
  border-radius: 50px;
  margin: 0 auto;
  overflow: hidden;
}

.music-hd {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-hd .search {
  position: relative;
}

.music-hd .search .search-ipt {
  padding: 10px 0;
  padding-left: 20px;
  border-radius: 50px;
}

.music-hd .search .zoom {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.music-bd {
  padding: 5px 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.music-bd .bd-lists {
  width: 200px;
  height: 400px;
  overflow-y: scroll;
}

.music-bd .bd-lists::-webkit-scrollbar {
  display: none;
}

.music-bd .bd-lists ul {
  padding: 10px 0;
}

.music-bd .bd-lists ul .bd-music {
  padding-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

.music-bd .bd-lists ul .bd-music:hover {
  background-color: orangered;
}

.music-bd .bd-lists ul .bd-music .bd-a {
  display: block;
  padding: 5px 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.music-bd .bd-home {
  width: 300px;
  height: 400px;
  position: relative;
}

.music-bd .bd-home .player-bar {
  width: 80px;
  position: absolute;
  top: 0px;
  left: 45%;
  right: 0;
  transform-origin: 0 0;
  transform: rotate(-30deg);
  z-index: 20;
}

.music-bd .bd-home .playing {
  transition: all 1s;
  transform: rotate(0deg);
}

.music-bd .bd-home .paused {
  transition: all 1s;
  transform: rotate(-30deg);
}

.music-bd .bd-home .home {
  animation: player 10s linear infinite;
}

.music-bd .bd-home .home-player {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  position: relative;
}

.music-bd .bd-home .home-player .player-disc {
  width: 200px;
  position: absolute;
}

.music-bd .bd-home .home-player .player-disc .disc {
  width: 100%;
  position: absolute;
  z-index: 15;
}

.music-bd .bd-home .home-player .player-disc .songsImg {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 40px;
  right: 0;
  transform: translateX(-50%);
  z-index: 2;
}

.music-bd .bd-home .home-player .player-songsImg {
  width: 150px;
}

.music-bd .bd-hot {
  width: 300px;
  height: 400px;
  overflow-y: auto;
}

.music-bd .bd-hot::-webkit-scrollbar {
  display: none;
}

.music-bd .bd-hot ul {
  padding: 10px 8px;
}

.music-bd .bd-hot ul .hot-list {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.music-bd .bd-hot ul .hot-list .userimg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.music-bd .bd-hot ul .hot-list .userinfo {
  width: 220px;
}

.music-bd .bd-hot ul .hot-list .userinfo .nickname {
  font-size: 14px;
  font-weight: 400;
  padding: 13px 0;
  padding-bottom: 0;
}

.music-bd .bd-hot ul .hot-list .userinfo .content {
  font-size: 12px;
  font-weight: 400;
  color: #cdcf3f;
}

.music-ft {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #e3e3e3;
}

.music-ft .ft-audio {
  width: 900px;
  outline: none;
}
