.system-pagination {
    text-align: center;

    // background: pink !important;
    .pagination {
        margin: 0 auto;
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: skyblue;
        position: relative;

        .pagination-btn {
            // width: 100px;
            position: absolute;
            top: 0;
            display: flex;
            // background: pink;
            justify-content: space-between;
        }

        .el-button--text {
            margin-left: 20px;
            margin-right: 20px;
            border: none;
            font-size: 14px !important;
        }
    }
}

.system-bj {
    padding: 23px;
    border-radius: 4px;
    background-color: #fff;

    .accountPeriodSetting,
    .communityMaintenance,
    .deductionSetting {
        .el-drawer {
            width: 780px !important;
            padding: 20px;
            margin: 0 auto;

            .el-drawer__body {
                .header {
                    width: 100%;
                    color: #72767b;
                    margin-bottom: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }

    .accountPeriodSetting {


        .el-form {
            width: 600px;
            margin: 0 auto;
            text-align: center;

            .demo-drawer__footer {
                margin-right: 0;
            }


        }

    }

    .communityMaintenance {
        .el-form-item__label {
            width: 120px !important;
        }

        .el-form-item__content {
            width: 480px !important;
            margin-left: 120px !important;
        }
    }

    .deductionSetting {
        .demo-drawer__footer {
            margin-right: 0;
            padding-right: 0;
        }

        .el-form-item__label {
            width: 120px !important;
        }

        .el-form-item__content {
            width: 480px !important;
            margin-left: 120px !important;
        }
    }
}

.system-title {
    display: block;
    margin-bottom: 10px;
}

.el-table .cell {
    text-align: center !important;

    .el-button--text {
        padding: 0;
    }
}