#header {
  background: white;
  color: black;
  border-bottom: 0.0625rem solid #e3e3e3;
}

#header a {
  color: black;
}

#header .right {
  color: #214280;
}

#information {
  color: white;
  position: relative;
}

#information .cp {
  padding: 0;
  display: none;
  height: 375.2px;
  position: relative;
}

#information .cp img {
  width: 100%;
  height: 100%;
}

#information .cp .container-fluid {
  padding: 0 0.625rem;
  position: absolute;
  bottom: 0.625rem;
}

#information .cp .container-fluid h2 {
  font-weight: bold;
  font-size: 0.75rem;
}

#information .cp .container-fluid p {
  font-size: 0.375rem;
  font-weight: bold;
}

#information .active {
  display: block;
}
