* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

button {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
  top: 0;
  left: 0;
}
