* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #e3e3e3;
}

.header {
  width: 95%;
  height: 2.5rem;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header img {
  height: 70%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.header .user {
  width: 2.5rem;
  height: 2.5rem;
  background: url("../images/icon-personal-v2.png") center no-repeat;
  background-size: 50%;
}

.header .down-email {
  width: 5rem;
  height: 2.5rem;
  display: flex;
}

.header .down-email .down {
  width: 2.5rem;
  height: 2.5rem;
  background: url("../images/download_2017.png") center no-repeat;
  background-size: 60%;
}

.header .down-email .email {
  width: 2.5rem;
  height: 2.5rem;
  background: url("../images/icon-email-v2.png") center no-repeat;
  background-size: 50%;
}

.banner {
  width: 95%;
  margin: 0 auto;
<<<<<<< HEAD
  background-color: red;
=======
>>>>>>> c6cffc0... 111
  position: relative;
}

.banner ul {
  width: 70%;
  height: 2.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.5rem;
}

.banner li a {
  display: block;
  text-decoration: none;
  color: #d6d5d5;
}

.banner .more {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background: url("../images/icon8.png") center no-repeat;
  background-size: 50%;
  top: 0;
  right: 0;
}

.banner-img img {
  width: 100%;
  vertical-align: bottom;
}

.banner span {
  position: absolute;
  color: white;
  bottom: 0.625rem;
  left: 0.625rem;
  font-size: 0.875rem;
}

.banner .page {
  position: absolute;
  right: 1.5625rem;
  bottom: 0.625rem;
  color: red;
}

.banner .page2 {
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
  color: #dbd7d7;
  font-size: 0.625rem;
}

.list {
  width: 95%;
  background-color: #f7f7f7;
  margin: 0 auto;
}

.list .list-dh {
  width: 85%;
  margin: 0 auto;
  padding-top: 0.625rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.list .list-dh .rd {
  color: red;
}

.list .list-article {
  width: 85%;
  margin: 0.625rem auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.list .list-article .list-articles {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list .list-article .list-articles img {
  width: 100%;
  vertical-align: bottom;
}

.list .list-article .list-articles .title {
  width: 90%;
  margin: 0.3125rem auto;
  font-size: 0.8125rem;
  color: #a8a8a8;
}

.list .list-article .list-articles .page-footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.list .list-article .list-articles .page-footer .picture {
  width: 1.875rem;
  display: flex;
  justify-content: space-between;
}

.list .list-article .list-articles .page-footer .picture .img {
  width: 1.25rem;
  background-color: red;
}

.list .list-article .list-articles .page-footer .picture .img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.list .list-article .list-articles .page-footer .picture .num {
  width: 0.625rem;
  margin-left: 0.3125rem;
  line-height: 1.33906rem;
  font-size: 0.75rem;
  color: #a8a8a8;
}

.list .list-article .list-articles .page-footer .watch {
  display: flex;
  justify-content: space-between;
}

.list .list-article .list-articles .page-footer .watch .img {
  width: 1.25rem;
  background-color: red;
}

.list .list-article .list-articles .page-footer .watch .img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.list .list-article .list-articles .page-footer .watch .num {
  margin-left: 0.3125rem;
  line-height: 1.33906rem;
  font-size: 0.75rem;
  color: #a8a8a8;
}
